* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* header  */
header {
  position: relative;
}

.head-top {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid lightgray;
  z-index: 999;
}

.logo {
  width: 10%;
  height: 80px;
  line-height: 95px;
  vertical-align: middle;
  padding-left: 15px;
}

.cont-nav {
  width: 80%;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.inizia {
  width: 10%;
  text-align: center;
}

#inizia-cont {
  background-color: #0061ff;
  padding: 5px 10px;
  color: white;
}

nav ul li a,
.inizia {
  font-size: 22px;
  font-weight: 500;
  line-height: 77px;
}

.inizia a {
  text-decoration: none;
}

.cont-nav li:hover {
  border-bottom: 2px solid;
}

.inizia #inizia-cont:hover {
  background-color: #2c7dff;
}

.jumbotron {
  background-color: #86b5ff;
  height: 700px;
  margin-top: 80px;
}

.container {
  width: 85%;
  /* height: 700px; */
  margin: 0 auto;
}

.container h1 {
  font-size: 85px;
}

#jumbo-p {
  margin-top: 70px;
  padding-right: 70px;
  line-height: 1.6;
  font-weight: 500;
}

#jumbo-img {
  width: 65%;
  margin-top: 70px;
}

#jumbo-img img {
  height: 550px;
  padding: 11px;
}

.cont-jumbo {
  width: 35%;
}

.cont-btn {
  margin-top: 40px;
  text-align: left;
  padding-right: 70px;
}

.cont-jumbo p {
  margin-top: 20px;
}

i {
  margin-top: 40px;
  font-size: 30px;
}

/* main  */

.cont-main-top {
  width: 75%;
  margin: 0 auto;
}

.container-main-top h2 {
  font-size: 40px;
  text-align: center;
}

.in-bl {
  display: inline-block;
  padding: 20px 40px;
}

.container-main div {
  width: calc(100% / 3 - 40px);
}

.mid-box {
  margin: 0 60px 0;
}

.container-main {
  height: 1200px;
}

.container-main span {
  text-align: center;
}
.bottone-main {
  text-align: center;
  margin-top: 20px;
}

.container-main p {
  margin-top: 20px;
  padding-left: 30px;
}

.container-main p:first-of-type {
  margin-top: 0;
}

/* .container-main ul {
  line-height: 1.1;
  margin-top: 25px;
  margin-left: 46px;
  list-style-image: url(../img/check-solid.svg);
} */

.container-main ul li {
  padding-left: 10px;
}

.container-main hr {
  width: 15%;
  margin-left: 40px;
  margin: 40px 40px;
}
/* #user {
  list-style-image: url(../img/user-regular.svg);
}

#folder {
  list-style-image: url(../img/folder-regular.svg);
}

#pencil {
  list-style-image: url(../img/pencil-alt-solid.svg);
} */

.container-main p:first-of-type {
  text-align: center;
  /* border: 1px solid black; */
  line-height: 72px;
}

.container-main p:first-of-type i {
  padding-right: 10px;
}

.titolo-cont {
  font-size: 28px;
  font-weight: 600;
}

.prezzo {
  font-weight: 600;
  font-size: 22px;
}

.periodico {
  color: gray;
}

.acquisto {
  color: rgb(0, 149, 207);
}

.box {
  border: 1px solid rgb(161, 161, 161);
  min-height: 1100px;
}

.intestazione-box {
  margin-left: 0;
}

.primo-p {
  font-weight: 600;
  border-bottom: 1px solid rgb(161, 161, 161);
}
.container-main ul li {
  list-style: none;
}

/* .container-main ul li::before {
  content: "\f00c";
  color: #0061ff;
  padding-left: 30px;
  padding-right: 5px;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  font-size: 48px;
} */

.sec-2-top {
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
}

.sec-2-bt div:first-of-type {
  width: 100%;
  display: inline-block;
}

#sec-2 .cont-main-top {
  border: 1px solid lightgray;
}

.cont-p-main {
  width: 100%;
}

.font-blue i {
  color: #0061ff;
}

.ul-short {
  padding-top: 5px;
}

.sec-2-bt {
  padding: 15px;
  line-height: 2.6;
}

.sec-2-bt p:first-of-type {
  font-size: 24px;
  font-weight: 600;
}

#partner {
  margin-top: 30px;
  font-size: 20px;
  border: 1px solid grey;
  padding: 5px 15px;
  display: inline-block;
}

#sec-3 {
  margin-top: 150px;
}

#partner-img {
  width: 50%;
}

#partner-img img {
  height: 575px;
}

#partner-txt {
  width: 50%;
  display: inline-block;
}

#partner-txt h2 {
  font-size: 37px;
}

#partner-txt p {
  margin-top: 40px;
  font-size: 18px;
  line-height: 1.6;
}

#partner a {
  text-decoration: none;
  color: rgb(68, 68, 68);
}

#sec-4 {
  margin-top: 100px;
}

#sec-4 h2 {
  font-size: 37px;
}

.box-small {
  width: calc(100% / 3 - 40px);
  margin: o auto;
}

.box-small img {
  width: 100%;
  box-sizing: cover;
}

.sec-4-main {
  margin-top: 50px;
}

#sec-4 h2 {
  margin-bottom: 60px;
}

.box-small h3 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 29px;
}

.box-small p {
  font-size: 18px;
  line-height: 1.6;
}

#sec-5 .cont-main-top p {
  font-size: 50px;
  font-weight: 600;
}

#loghi {
  width: calc(100% / 3);
}

#sec-5-box {
  background-color: lightgrey;
}

#sec-5-sx {
  width: 30%;
}

#sec-5-mid {
  width: 40%;
}

#sec-5-dx {
  width: 30%;
}

#uno-sx {
  background-color: lightgreen;
}

#uno-sx img {
  height: 40px;
  filter: invert(1);
}

#due-sx {
  background-color: rgb(88, 50, 50);
}

#due-sx img {
  height: 75px;
  filter: invert(1);
}

#tre-sx {
  background-color: rgb(58, 170, 214);
}

#tre-sx img {
  height: 30px;
  filter: invert(1);
}

#quattro-sx {
  background-color: red;
}

#quattro-sx img {
  height: 50px;
  filter: invert(1);
}

#sec-5 .cont-main-top {
  margin-top: 250px;
}

#sec-5-sx .left {
  width: 50%;
  height: 150px;
  padding: 20px 40px;
  line-height: 150px;
}

#sec-5-mid img {
  height: 40px;
  margin-bottom: 30px;
}

#sec-5-mid hr {
  width: 7%;
  color: lightgrey;
  margin-bottom: 30px;
}

#sec-5-txt {
  margin-bottom: 30px;
}

#uno-dx {
  background-color: red;
}

#uno-dx img {
  height: 40px;
  filter: invert(1);
}

#due-dx {
  background-color: lightblue;
}

#due-dx img {
  height: 15px;
  filter: invert(1);
}

#tre-dx {
  background-color: blue;
}

#tre-dx img {
  height: 70px;
  filter: invert(1);
}

#quattro-dx {
  background-color: rgb(235, 235, 2);
}

#quattro-dx img {
  height: 90px;
  filter: invert(1);
}

#sec-5-dx .left {
  width: 50%;
  height: 150px;
  padding: 20px 40px;
  line-height: 150px;
}

.container-sec-5-mid {
  margin: 33px 0 0 20px;
}

#sec-5-bt.cont-main-top {
  margin-top: 0;
  background-color: lightskyblue;
}

#sec-5-bt-left {
  width: 50%;
  font-size: 40px;
  font-weight: 600;
  padding: 100px;
  color: rgb(88, 50, 50);
}

#sec-5-bt-right {
  width: 50%;
  padding: 100px;
}

#sec-5-bt-right a {
  text-decoration: none;
  color: black;
  background-color: #fff;
  padding: 10px 70px;
}

#sec-6 {
  margin-top: 150px;
}

#sec-6 h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.arrow {
  position: absolute;
  right: 0;
  top: -20px;
  display: inline-block;
  padding-bottom: 20px;
}

.rows {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 20px 0;
  position: relative;
}
.row-difference {
  font-size: 24px;
  font-weight: 600;
  display: inline;
}

footer {
  margin-top: 150px;
  background-color: black;
  color: white;
  /* height: 700px; */
}

.tit-foot {
  font-size: 44px;
  font-weight: 600;
  padding: 15px 0;
}

.container-foot {
  width: 85%;
  margin: 0 auto;
}

footer ul li {
  list-style: none;
  line-height: 1.6;
  font-weight: 600;
  font-size: 24px;
}

.mid-box-foot {
  margin-left: 5%;
}

footer hr {
  width: 5%;
  color: #fff;
  margin-top: 200px;
  margin-bottom: 10px;
  filter: brightness(0.5);
}

#lingua {
  padding-bottom: 50px;
}

#lingua i {
  filter: brightness(0.5);
  font-size: 15px;
}

.foot-box {
  padding-top: 250px;
}

/* BTN*/
.btn {
  color: white;
  background-color: #0061ff;
  padding: 5px 10px;
}

/* DEBUG */
.debug .head-top {
  background-color: yellow;
}

.debug .logo {
  height: 80px;
  background-color: red;
}

.debug .cont-nav {
  height: 80px;
  background-color: orange;
}

.debug .inizia {
  background-color: blue;
  height: 80px;
}

.debug .cont-main-top h2 {
  background-color: red;
}

.debug .container-main-top div {
  background-color: yellow;
}

.debug .container-main div {
  height: 900px;
  /* background-color: orange; */
  border: 1px solid black;
}

.debug .sec-2-top {
  height: 40px;
  background-color: yellow;
}

.debug .sec-2-bt p {
  background-color: orange;
}
.sec-2-bt div:first-of-type a {
  color: white;
  text-decoration: none;
}

.container-main li i {
  /* color: #0061ff; */
  font-size: 20px;
}

.debug .cont-main-top {
  height: 700px;
  /* background-color: red; */
}
#sec-3 {
  margin-top: 100px;
}

.debug .box-small {
  background-color: yellow;
  border: 1px solid;
}

.debug .cont-main-top {
  height: 500px;
  /* background-color: red; */
}

.debug .rows {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 20px 0;
  position: relative;
}

.debug .row-difference {
  font-size: 24px;
  font-weight: 600;
  display: inline;
}
