* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* header  */
header {
  position: relative;
}

.head-top {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
}

.logo {
  width: 10%;
  height: 80px;
  line-height: 95px;
  vertical-align: middle;
  padding-left: 15px;
}

.cont-nav {
  width: 80%;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.inizia {
  width: 10%;
  text-align: center;
}

#inizia-cont {
  background-color: #0061ff;
  padding: 5px 10px;
  color: white;
}

nav ul li a,
.inizia {
  font-size: 22px;
  font-weight: 500;
  line-height: 80px;
}

/* main */
.jumbotron {
  background-color: #86b5ff;
  height: 700px;
  margin-top: 80px;
}

.container {
  width: 85%;
  height: 700px;
  margin: 0 auto;
}

.container h1 {
  font-size: 85px;
}

#jumbo-p {
  margin-top: 70px;
  padding-right: 70px;
  line-height: 1.6;
  font-weight: 500;
}

#jumbo-img {
  width: 65%;
  margin-top: 70px;
}

#jumbo-img img {
  height: 550px;
  padding: 11px;
}

.cont-jumbo {
  width: 35%;
}

.cont-btn {
  margin-top: 40px;
  text-align: center;
  padding-right: 70px;
}

.cont-jumbo p {
  margin-top: 20px;
}

i {
  margin-top: 40px;
  font-size: 30px;
}
/* BTN  */
.btn {
  color: white;
  background-color: #0061ff;
  padding: 5px 10px;
}

/* DEBUG */
.debug .head-top {
  background-color: yellow;
}

.debug .logo {
  height: 80px;
  background-color: red;
}

.debug .cont-nav {
  height: 80px;
  background-color: orange;
}

.debug .inizia {
  background-color: blue;
  height: 80px;
}
