* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* header  */
header {
  position: relative;
}

.head-top {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
}

.logo {
  width: 10%;
  height: 80px;
  line-height: 95px;
  vertical-align: middle;
}

.cont-nav {
  width: 80%;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.inizia {
  width: 10%;
  text-align: center;
}

#inizia-cont {
  background-color: #0061ff;
  padding: 5px 10px;
  color: white;
}

nav ul li a,
.inizia {
  font-size: 22px;
  font-weight: 500;
  line-height: 80px;
}

/* DEBUG */
.debug .head-top {
  background-color: yellow;
}

.debug .logo {
  height: 80px;
  background-color: red;
}

.debug .cont-nav {
  height: 80px;
  background-color: orange;
}

.debug .inizia {
  background-color: blue;
  height: 80px;
}
